/*********** Header ***********/
header {background-color: #992017;}

body {background-color: #bda162;}

#game-nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*********** Regole di Gioco ***********/
#modal-game-rules {
    width: 800px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;


    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 2px solid black;
}



/*********** Campo Minato ***********/
#minefield #grid {
    height: 450px;
    width: 450px;
    border: 2px solid whitesmoke;
    box-shadow: 5px 10px 15px black;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;

    position: relative;
}

#grid [class^="cell-"] {
    color: white;
    border: 1px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Se la casella è già stata cliccata */
#grid [class^="cell-"].clicked {cursor: not-allowed;}

/* Se la casella è sicura */
#grid [class^="cell-"].clicked.safe {background-color: #176999;}

/* Se è presente una bomba vicino alla casella sicura */
#grid [class^="cell-"].nearby-bomb {background-color: #b94a09;}

/* Se la casella è una bomba */
#grid [class^="cell-"].clicked.bomb {background-color: #992017;}



/* Se viene selezionata l'opzione "Easy" */
#grid .cell-easy {
    height: calc(100% / 10);
    width: calc(100% / 10);
}
/* Se viene selezionata l'opzione "Classic" */
#grid .cell-classic {
    height: calc(100% / 9);
    width: calc(100% / 9);
}
/* Se viene selezionata l'opzione "Hardcore" */
#grid .cell-hard {
    height: calc(100% / 7);
    width: calc(100% / 7);
}

/* Messaggio finale del gioco */
#grid .game-message {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
}
#grid .game-message h2 {
    width: 100%;
    line-height: 450px;
    text-align: center;
    color: white;
}